<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="keywords" content="ETelefon, Telefon, Apple, Android, Huawei, Bucuresti, Romania, performanta, livrare la domiciliu, ridicare personala, Husa, Casti,  Incarcatoare, Folie de telefon">
        <meta name="description" content="ETelefon va ofera cele mai noi si performante telefoane la cele mai ieftine preturi! De la noi puteti sa luati si accesoriile dorite!">
        <link rel="stylesheet" href="/resurse/css/cos-virtual.css" type="text/css" />
        <title>ETelefon - cos virtual</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src="/resurse/js/cos_virtual.js"></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        
        <button id="cumpara">
            Cumpara
        </button>        
    
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>