<!DOCTYPE html>
<html  lang="ro">
    <head>

        <meta name="keywords" content="ETelefon, Telefon, Apple, Android, Huawei, Bucuresti, Romania, performanta, livrare la domiciliu, ridicare personala, Husa, Casti,  Incarcatoare, Folie de telefon">
        <meta name="description" content="ETelefon va ofera cele mai noi si performante telefoane la cele mai ieftine preturi! De la noi puteti sa luati si accesoriile dorite!">
        <title>ETelefon</title>
        <%- include("../fragmente/head.ejs")  %>
    </head>
    <body>
    <%- include("../fragmente/header.ejs")  %>
    <main>
        <h2>Alta pagina</h2>
    </main>

    <%- include("../fragmente/footer.ejs")  %>

    </body>
</html>