<footer>
    <div class="banner" id="bannercookie">
        Acesta este un proiect scolar!<br>
        Accepta cookies
        <p id="cookies"><button id="ok_cookies" class="btn-custom1">OK</button></p>
        Ultima Pagina accesata<span id="ultimapag"></span>
    </div>
            <div class="watermark">Marian</br> Rares Stefan</div>
            <a hred="fisier.pdf" download> Google </a>
            <a href="#" title="mergi sus" id="link-top"><div id="triunghi"></div></a>
            <a href="#" title="Inceputul paginii" id="link-top"></a>
            <br/>
        <address>
            <a href="mailto:georgebuhnici22@gmail.com">Mail catre regele Romaniei</a>
        </br>
            <a href="tel:+408162385921">Telefonul proprietarului</a>
            <p>Contactează-ne pe WhatsApp: <a href="https://api.whatsapp.com/send?phone=NUMARUL_TAU_DE_TELEFON" target="_blank">Click aici</a></p>
        </address>
            <p><small>copyright:&copy;</small> <time datetime="04-03-2024">4 Martie 2024</time></p>
            </br>
</footer>